.contact-section {
  position: relative;
  padding-bottom: 50px;
  color: #fff;
  background-color: #000;

  &::before {
    content: "";
    background-image: url("../src/images/contact-bg-img1.png");
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h2 {
    font-family: "prosto";
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  h3 {
    font-size: 40px;
    font-family: "prosto";
    position: relative;
    z-index: 1 !important;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 80px;
      height: 80px;
      background-color: #f8b000;
      border-radius: 50px;
      left: -20px;
      top: -10px;
      z-index: -1;
    }
  }
  .icon {
    font-size: 32px;
  }
  a {
    color: #8b8686;
    position: relative;
    z-index: 1;
  }
  label {
    font-size: 22px;
    font-family: "poppins-medium";
  }
  input {
    position: relative;
    background-color: #240b24;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    color: #fff;
    z-index: 1;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      background-color: inherit;
      color: #fff;
    }
  }
  textarea {
    background-color: #240b24;
    color: #fff;
    border: none;
    padding: 20px 30px;
    resize: none;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      background-color: inherit;
      color: #fff;
    }
  }
  button {
    background-color: #f8b000;
    color: #fff;
    border: none;
    font-size: 15px;
    line-height: 20px;
    font-family: "poppins-regular";
    font-weight: 800;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
  }
}
