@font-face {
  font-family: "poppins-light";
  src: url("../public/fonts/Poppins-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: "poppins-medium";
  src: url("../public/fonts/Poppins-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-style: normal;
}
