.home-section {
  padding-top: 180px;
  position: relative;
  &::after {
    content: "";
    background-image: url("../../.");
  }
  h2 {
    font-family: "poppins-light";
    font-size: 30px;
    color: #fff;
  }
  h3 {
    font-family: "Passion One", serif;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #fff;
  }
  p {
    width: 90%;
    color: #ffffff96;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    span {
      color: #fff;
      font-weight: 500;
    }
  }
  .men-img {
    position: relative;
    @keyframes cvmation {
      100% {
        opacity: 0;
        transform: scale(2);
      }
    }
    .cv-box {
      position: absolute;
      top: 50%;
      left: 30px;
      .dwonload-box {
        position: relative;
        text-align: center;
        width: 60px;
        height: 60px;
        background-color: #5e146d;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        img {
          position: relative;
          z-index: 3;
        }
        h4 {
          position: relative;
          font-family: "poppins-medium";
          z-index: 3;
          font-size: 18px;
          font-weight: 400;
          color: #fff;
        }
        span {
          width: 60px;
          height: 60px;
          position: absolute;
          background: inherit;
          border-radius: inherit;
          opacity: 0.8;
          z-index: 1;
          animation: cvmation 4s ease-out infinite;
          animation-delay: calc(1s * var(--i));
        }
      }
    }
  }
  .social-media {
    bottom: 60px;
    right: 30px;
    z-index: 2;
    .img {
      font-size: 24px;
      color: black;
    }
  }
}
// @keyframes snowfall {
//   from {
//     transform: translateY(0);
//   }
//   to {
//     transform: translateY(650px);
//   }
// }
// <== snowfall ==>

// .snow,
// .snow::after,
// .snow::before {
//   content: "";
//   position: fixed;
//   top: -650px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: radial-gradient(8px 8px at 100px 50px, #fff, transparent),
//     radial-gradient(6px 6px at 200px 150px, #fff, transparent),
//     radial-gradient(3px 3px at 350px 500px, #fff, transparent),
//     radial-gradient(8px 8px at 100px 50px, #fff, transparent),
//     radial-gradient(6px 6px at 200px 150px, #fff, transparent),
//     radial-gradient(3px 3px at 350px 500px, #fff, transparent);

//   z-index: 1;
//   background-size: 650px 650px;
//   animation: snowfall 8s linear infinite;
// }
// .snow::after {
//   margin-left: -250px;
// }
