@media only screen and (min-width: 1024px) {
  .header {
    ul {
      &#sticky {
        width: max-content;
        background: #28272763;
        backdrop-filter: blur(4px);
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        animation: smothSticky 0.2s linear;
      }
    }
    .scroll_point {
      box-shadow: 0 0 10px #f8b000 inset;
      transition: all 0.3s;
    }
  }
}
@media screen and (max-width: 1024px) {
  .header {
    h2 {
      font-size: 22px !important;
    }
    .logo {
      img {
        width: 8rem;
      }
    }
    .header-nav {
      padding: 10px;
    }
    ul {
      position: fixed;
      flex-direction: column;
      align-items: start !important;
      background-color: rgba(0, 0, 0, 0.582);
      backdrop-filter: blur(8px);
      width: 30%;
      top: 0 !important;
      right: -100% !important;
      transform: translate(0, 0) !important;
      border-radius: inherit !important;
      height: 100vh;
      padding-left: 0 !important;
      z-index: 4;
      transition: all 0.5s;

      li {
        padding-block: 20px;
        a {
          font-size: 24px;
          color: #fff;
          &:hover {
            box-shadow: 0 0 10px #f8b000 inset !important;
          }
        }
      }
      .close-menu {
        display: block !important;
        position: absolute;
        top: 0px;
        right: 20px;
      }
    }
    .nav_top-0 {
      right: 0 !important;
    }
    .nav_top-100 {
      right: -100% !important;
    }
    .header-menu {
      display: block !important;
    }
    .btn-header {
      display: none !important;
    }
  }
  .home-section {
    padding-top: 50px;
    .home_background {
      top: -15%;
    }
    h3 {
      letter-spacing: normal;
    }
  }
  .project-section {
    .p-box {
      gap: 40px;
    }
    .project3 {
      img {
        width: 100%;
      }
    }
  }
  .contact-section {
    .contact_bg {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .success-message {
      margin-top: 80px !important;
      p {
        font-size: 26px;
        font-weight: 400;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    ul {
      width: 71% !important;
    }
  }
  .home-section {
    padding-bottom: 0;
    .home-box {
      padding-bottom: 200px;
    }
    .home_background {
      top: 40%;
      right: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      font-size: 30px;
      margin-top: 0 !important;
    }
    .social-media {
      display: none;
    }
  }
  .success-message {
    margin-top: 40px !important;
    p {
      font-size: 20px !important;
    }
  }
}
