.home-section {
  padding-top: 100px;
  padding-bottom: 100px;
  .home_background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .home-box {
    padding-bottom: 350px;
  }
  h2 {
    font-family: "passion One", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ffffffa5;
  }
  h3 {
    font-family: "Passion One", sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 6px;
    color: #fff;
    width: max-content;
    background: linear-gradient(to right, #ee7f33, #d03d24, #d871bb, #2584a2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-home {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 6px 6px 16px;
    border-radius: 50px;
    border: none;
    box-shadow: 5px 0 16px #bab6b6 inset;
    color: #ffff;
    transition: all 0.3s;
    &:hover {
      box-shadow: inset 0px 0px 20px #282727, inset 0px 4px 20px #ee7f33;
    }
  }
  .btn-2 {
    &:hover {
      box-shadow: inset 0px 0px 20px #282727, inset 0px 4px 20px #2584a2;
    }
  }
  .social-media {
    bottom: 40%;
    right: 60px;
    z-index: 2;
    .img {
      font-size: 20px;
      color: #9c9c9c;
    }
  }
}

// @keyframes snowfall {
//   from {
//     transform: translateY(0);
//   }
//   to {
//     transform: translateY(650px);
//   }
// }
// .snow,
// .snow::after,
// .snow::before {
//   content: "";
//   position: fixed;
//   top: -650px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: radial-gradient(8px 8px at 100px 50px, #fff, transparent),
//     radial-gradient(6px 6px at 200px 150px, #fff, transparent),
//     radial-gradient(3px 3px at 350px 500px, #fff, transparent),
//     radial-gradient(8px 8px at 100px 50px, #fff, transparent),
//     radial-gradient(6px 6px at 200px 150px, #fff, transparent),
//     radial-gradient(3px 3px at 350px 500px, #fff, transparent);

//   z-index: 1;
//   background-size: 650px 650px;
//   animation: snowfall 8s linear infinite;
// }
// .snow::after {
//   margin-left: -250px;
// }
