@keyframes smothSticky {
  0% {
    top: -30px;
  }
  100% {
    top: 10px;
  }
}
.header {
  width: 100%;
  margin-top: 10px;
  .logo {
    width: 10rem;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 40px 5px;
    padding-block: 5px;
    .logo {
      display: flex;
    }

    ul {
      display: flex;
      align-items: center;
      padding-block: 10px;
      padding-inline: 30px;
      border-radius: 20px;
      li {
        padding-inline: 20px;

        a {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          transition: all 0.3s;
          padding: 8px 15px;
          border-radius: 20px;
          &:hover {
            box-shadow: 0 0 10px #f5f5f5 inset;
            transition: all 0.3s;
          }
        }
      }
      .close-menu {
        display: none;
        font-size: 36px;
        color: #f8b000;
      }
    }
    .btn-header {
      font-size: 14px;
      font-weight: 400;
      padding: 6px 6px 6px 16px;
      border-radius: 50px;
      border: none;
      box-shadow: 0px 0px 20px rgb(97, 95, 95) inset;
      color: #ffff;
    }
    .header-menu {
      display: none;
      font-size: 32px;
      color: #f8b000;
    }
  }
}
