@import "./sass/font";
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  color: #ffff;
  background-color: black;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: "poppins-medium";
  font-weight: 500;
}
.mb-10 {
  margin-bottom: 100px;
}
.btn-header {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 6px 6px 16px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff41;
  color: #ffff;
}
@import "./Components/Header/header";
@import "./Components/Home/home";
@import "./Components/Skill/skill";
@import "./Components/Project/project";
@import "./Components/Contact/contact";
@import "./sass/responcive";
